\.page-enter-active, .page-leave-active {
    transition: opacity .5s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}
.link_bt {
  text-decoration: none;
}
.cusor--pointer {
  cursor: pointer !important;
}
.title_head {
  color: #7a797e;
  font-size: 14px;
  text-transform: none;
  font-weight: 600;
}
.lb_gr .v-label{
  margin-bottom: 0px;
}

.fill-scroll {

}

.v-application {
}
.table_list_custom.v-data-table--fixed-header .v-data-table__wrapper {
  overflow: unset;
}
::-webkit-scrollbar {
  display: none;
}
